.form-control-lg{
    width: 67% !important;
    background: white;
    transition: width 0.5s;
}

#searchInput {
    transition-timing-function: ease;
}

.form-control-lg:hover {
  width:80% !important;
}

.form-control-lg::placeholder{
    color: white;
    font-size: 16px;
}

.fixBox{
    position: fixed;
    width: 90vw;
    z-index: 100000;
}

.formBox{
    margin-top: 90px;
}

.table{
    cursor: default;
    background-color: rgba(235, 235, 235, 0.514);
}

.contentTable{
    overflow-x: scroll !important;
}

.headerColor{
    background-image: linear-gradient(to right ,  rgb(194, 194, 194) ,  rgb(109, 109, 109));
}