.form-control{
    width: 175px ;
    transition: width 0.3s;
}

#searchInput {
    transition-timing-function: ease;
}

.form-control:hover {
  width:185px !important;
}

label{
    margin: 0px;
}

.saveBtn {
    width: 140px;
    height: 38px;
    border-radius: 6px;
    font-weight: bold;
    outline: none !important;
}

.clearBtn{
    width: 140px;
    height: 38px;
    border-radius: 6px;
    font-weight: bold;
    outline: none !important;
}

input::placeholder{
    opacity: 0.4 !important;
}

.boxBtn{
    overflow:hidden !important;
}



